<!DOCTYPE html>
<html ng-app>

<head>

<!--<link type="text/css" rel="stylesheet" href="css/bootstrap.css"></link>-->
<link type="text/css" rel="stylesheet" href="css/main.css"></link>
<link type="text/css" rel="stylesheet" href="css/PACE_Center_Atom.css"></link>
<script type="text/javascript" src="js/lib/jquery.js"></script>
<script type="text/javascript" src="js/lib/angular.min_v1.2.15.js"></script>
<script type="text/javascript" src="js/lib/angular-route.js"></script>
<script type="text/javascript" src="js/lib/pace.min.js"></script>

<script>


</script>

<title> simuL8r </title>

</head>

<body id = 'body' onload = 'init()' ng-controller='SimCtrl'>

<!--<div id = 'wrapper' >-->

<div id = 'bar'>

<div id = 'tipsSee'> See Tips </div>

<div class = 'shapes' id = 'save' onmouseover = "hover(save);" onmouseout = "leave(saving, save);" onclick = "if(saving){shapeSelector();}else{shapeSelector(); saving = true;} gradient(save);"><img class = 'icons' src = 'images/save.png'></img></div>

<div class = 'shapes' id = 'erase' onmouseover = "hover(erase);" onmouseout = "leave(deletion, erase);" onclick = "if(deletion){shapeSelector();}else{shapeSelector(); deletion = true;} gradient(erase);"><img class = 'icons' src = 'images/erase.png'></img></div>

<div class = 'shapes' id = 'circle' onmouseover = "hover(circle);" onmouseout = "leave(circles, circle);" onclick = " if(circles){shapeSelector();}else{shapeSelector();  circles = true; shapeSelection.circle[0] = true;} gradient(circle);"><img class = 'icons' src = 'images/shapes/circle.png'></img></div>

<div class = 'shapes' id = 'square' onmouseover = "hover(square);" onmouseout = "leave(squares, square);" onclick = "if(squares){shapeSelector();}else{shapeSelector(); squares = true; shapeSelection.square[0] = true;} gradient(square);"><img class = 'icons' src = 'images/shapes/square.png'></img></div>

<div class = 'shapes' id = 'triangle' onmouseover = "hover(triangle);" onmouseout = "leave(triangles, triangle);" onclick = "if(triangles){shapeSelector();}else{shapeSelector(); triangles = true; shapeSelection.triangle[0] = true;} gradient(triangle);"><img class = 'icons' src = 'images/shapes/triangle.png'></img></div>

<div class = 'shapes' id = 'customShape' onmouseover = "hover(customShape);" onmouseout = "leave(shapes, customShape);" onclick = "if(shapes){shapeSelector();}else{shapeSelector(); shapes = true;} gradient(customShape);"><img class = 'icons' src = 'images/shapes/custom.png'></img></div>
	<!--<ul id = 'curveList'>
		<li id='line' class='item' onclick='curveListStyle(); if(line){shapeSelector();}else{shapeSelector(); line = true;}'>line</li>
	</ul>-->


<div class = 'shapes' id = 'Re-Size' onmouseover = "hover(ReSize);" onmouseout = "leave(reSize, ReSize);" onclick = "if(reSize){shapeSelector();}else{shapeSelector(); reSize = true;} gradient(ReSize);"><img class = 'icons' src = 'images/resize.png'></img></div>

<div class = 'shapes' id = 'Re-Shape' onmouseover = "hover(ReShape);" onmouseout = "leave(reShape, ReShape);" onclick = "if(reShape){ shapeSelector();}else{shapeSelector(); reShape = true;} gradient(ReShape);"><img id = 'ReShaper' class = 'icons' src = 'images/shapes/reshape.png'></img></div>

<div class = 'shapes' id = 'Rotate' onmouseover = "hover(Rotate);" onmouseout = "leave(rotate, Rotate);" onclick = "if(rotate){shapeSelector();}else{shapeSelector(); rotateListStyle(); rotate = true;} gradient(Rotate); resetRotate();"><img class = 'icons' src = 'images/rotate.png'></img></div>
	<ul id = 'rotateList'>
		<li id='rotate90' class='item'>Rotate 90<span style='vertical-align:super; font-size:0.5em'>O</span></li>
		<li id='rotate180' class='item'>Rotate 180<span style='vertical-align:super; font-size:0.5em'>O</span></li>
		<li id='reverseX' class='item'>ReverseX</li>
		<li id='reverseY' class='item'>ReverseY</</li>
	</ul>


<div id = 'colourful'>
<div class = 'shapes' id = 'ChangeColour'  onmouseover = "hover(ChangeColour);" onmouseout = "leave(colourChange, ChangeColour);" onclick = " if(colourChange){shapeSelector(); PickColor.style.visibility = 'invisible';}else{shapeSelector(); colourChange = true; PickColor.style.visibility = 'visible';} gradient(ChangeColour); colours.lightblue[1] = true;  "><img class = 'icons' src = 'images/colour-wheel.png'></img></div>

<div id = 'PickColor'>
<table id = 'board'>
	<tr>
		<td><div id = 'transparent' class = 'pallet' style = 'text-align:center' onclick ='colourPicker(); colours.transparent[1] = true;'></div></td>
		<td><div id = 'blue' class = 'pallet'style = 'text-align:center' onclick ='colourPicker(); colours.blue[1] = true;'></div></td>
		<td><div id = 'red' class = 'pallet'style = 'text-align:center' onclick ='colourPicker(); colours.red[1] = true;'></div></td>
		<td><div id = 'yellow' class = 'pallet'style = 'text-align:center' onclick ='colourPicker(); colours.yellow[1] = true;'></div></td>
	</tr>
	<tr>
		<td><div id = 'green' class = 'pallet'style = 'text-align:center' onclick ='colourPicker(); colours.green[1] = true;'></div></td>
		<td><div id = 'white' class = 'pallet' style = 'text-align:center' onclick ='colourPicker(); colours.white[1] = true;'></div></td>
		<td><div id = 'black' class = 'pallet'style = 'text-align:center' onclick ='colourPicker(); colours.black[1] = true;'></div></td>
		<td><div id = 'lightblue' class = 'pallet'style = 'text-align:center' onclick ='colourPicker(); colours.lightblue[1] = true;'></div></td>
	</tr>
	<tr>
		<td><div id = 'lightgreen' class = 'pallet' style = 'text-align:center' onclick ='colourPicker(); colours.lightgreen[1] = true;'></div></td>
		<td><div id = 'orange' class = 'pallet'style = 'text-align:center' onclick ='colourPicker(); colours.orange[1] = true;'></div></td>
		<td><div id = 'purple' class = 'pallet'style = 'text-align:center' onclick ='colourPicker(); colours.purple[1] = true;'></div></td>
		<td><div id = 'violet' class = 'pallet'style = 'text-align:center' onclick ='colourPicker(); colours.violet[1] = true;'></div></td>
	</tr>
	<tr>
		<td><div id = 'beige' class = 'pallet'style = 'text-align:center' onclick ='colourPicker(); colours.beige[1] = true;'></div></td>
		<td><div id = 'aqua' class = 'pallet' style = 'text-align:center' onclick ='colourPicker(); colours.aqua[1] = true;'></div></td>
		<td><div id = 'grey' class = 'pallet'style = 'text-align:center' onclick ='colourPicker(); colours.grey[1] = true;'></div></td>
		<td><div id = 'pink' class = 'pallet'style = 'text-align:center' onclick ='colourPicker(); colours.pink[1] = true;'></div></td>
	</tr>
</table>
</div>
</div>

<div class = 'shapes' id = 'pencil_id' onmouseover = "hover(pencil_id); "onmouseout = "leave(pencils, pencil_id);" onclick = " if(pencils){shapeSelector();}else{shapeSelector(); pencilStyle(); pencils = true; shapeSelection.pencil[0] = true;} gradient(pencil_id); pencilCursor();"><img class = 'icons' src = 'images/pencil.png'></img></div>
	<ul id = 'pencilList'>
		<li id='shapes' class='item'>Shapes</li>
		<li id='strokes' class='item'>Strokes</li>
	</ul>
</div>

<div class = 'shapes' id = 'copy' onmouseover = "hover(Copy);" onmouseout = "leave(copy, Copy);" onclick = "if(copy){shapeSelector();}else{shapeSelector(); copy = true;} gradient(Copy);"><img class = 'icons' src = 'images/copy.png'></img></div>

<div class = 'shapes' id = 'physics' onmouseover = "hover(Physics);" onmouseout = "leave(physics, Physics);" onclick = " if(physics){shapeSelector();}else{shapeSelector(); physics = true;} gradient(Physics);"><img class = 'icons' src = 'images/physics.png'></img></div>

<table id='sceneTable'>
	<tr>
		<th>Current User: {{currentUser.google.name}}</th>
	</tr>
	<tr>
		<td><button ng-click='getAll();'>get all</button></td>
		<td><button ng-click='removeAllScenes();'>remove all</button></td>
		<td><button ng-click='create();'>save scene</button></td>
		<td><button ng-click='newScene();'>new scene</button></td>
		<td><button ng-click='logout();'>logout</button></td>
		<td><button id='browserSave' class='browser'>save</button></td>
		<td><button id='webData' class='browser'>display</button></td>
		<td><button id='deleteData' class='browser'>delete</button></td>
		<td><button id='updateScene' class='browser'>update</button></td>
		<td><button id='removeAllScenes' class='browser'>remove all</button></td>
	</tr>
	<tr ng-repeat='scene in scenes'>
		<td><img class='thumbnail' ng-src='images/thumbnails/{{scene._id}}.png' id = 'thumbnail'/></td>
		<td><button ng-click='retrieve(scene._id);'>load</button></td>
		<td><button ng-click='updateScene(scene._id);'>update</button></td>
		<td><button ng-click='remove(scene._id);'>delete</button></td>
	</tr>
</table>
<!--<button id='clearAll' onclick='clearAll();'>clear all</button>-->
<canvas id = 'canvas' onclick = 'shapeSelect()'></canvas>




<img id="canvasImg" alt = "Right click to save me!">


<div id = "tips">

<div id='tipsRemove' onclick = "//tips.style.visibility = 'hidden';">Remove Tips</div>



<center><div id ='tipsTitle'><h2>Tips</h2></div></center><p>

<div id = 'tipsWrapper'>
	<div class = 'tipsDiv'><img class = 'tipsImg' src = 'images/shapes/custom.png'></img></div>
	<p class = 'tipsPara'>To make your own shapes select the icon above, and then click on different parts of the canvas, complete the shape by clicking on the small green circle which appears when you hover over the start of the first line.</p>
	<hr><p>

	<div class = 'tipsDiv'><img class = 'tipsImg' src = 'images/erase.png'></img></div>
	<p class = 'tipsPara'>After selecting the 'delete' icon simply click on the shape that you wish to remove.</p>
	<hr><p>

	<div class = 'tipsDiv'><img id='tipsReshaper' class = 'tipsImg' src = 'images/shapes/reshape.png'></img></div>
	<p class = 'tipsPara'>After selecting the icon above, hover over any of the corners and all of them will be highlighted by small grey circles, simply drag an drop the corners to re-shape. (only works for the shapes you create) </p>
	<hr><p>

	<div class = 'tipsDiv'><img class = 'tipsImg' src = 'images/rotate.png'></img></div>
	<p class = 'tipsPara'>Select the icon above and the click on the shape you wish to rotate, then move the red triangular slider to rotate it.</p>
	<hr><p>

	<div class = 'tipsDiv'><img class = 'tipsImg' src = 'images/save.png'></img></div>
	<p class = 'tipsPara'> Firstly Select the icon above, and then to save your work; right-click the little image that appears in the top left corner.</p>
</div>

</div>
<div id='bp'>
		<h3>Display Panel</h3>
		Normal Vector <input type='checkbox' id='normal' onchange='reset=false; selectAll=false; displayData();'/><br><br>
		Repulsion Vector <br>
						<div id='repulsion'>
							A <input type='checkbox' id='repulsionA' onchange='reset=false; selectAll=false; displayData();'/><br>
							B <input type='checkbox' id='repulsionB' onchange='reset=false; selectAll=false; displayData();'/>
						</div>
		Collision Point Relative Velocity <input type='checkbox' id='colPointRelVel' onchange='reset=false; selectAll=false; displayData();'/><br><br>
		Collision Point <input type='checkbox' id='collisionPoint' onchange='reset=false; selectAll=false; displayData();'/><br><br>
		Colliding Side <input type='checkbox' id='collidingSide' onchange='reset=false; selectAll=false; displayData();'/><br><br> 
		Collision Shadow <input type='checkbox' id='collisionShadow' onchange='reset=false; selectAll=false; displayData();'/><br><br>
		Bounding Rect <input type='checkbox' id='boundingRect' onchange='reset=false; selectAll=false; displayData();'/><br><br>
		Pre-collision <input type='checkbox' id='preCollision' onchange='reset=false; selectAll=false; displayData();'/><br><br>
		Centroid <input type='checkbox' id='centroid' onchange='reset=false; selectAll=false; displayData();'/><br><br>
		Shadow Centroid <input type='checkbox' id='shadowCentroid' onchange='reset=false; selectAll=false; displayData();'/><br><br>
		<button id='bpreset' onclick='reset=true; selectAll=false; displayData();'>reset</button>
		<button id='bpApply' onclick='selectAll=true; reset=false; displayData();'>select all</button>
</div>
<!--</div>-->
<script src='js/app/index.js'></script>
<script src='js/app/blueprint.js'></script>
<script type="text/javascript" data-pace-options='{ "ajax": true, document: true, eventLag: true}' src='js/app/controllers/simtroller.js'></script>
<script src='js/app/indexedDB.js'></script>
</body>
</html>