.content-wrapper{
	background-image: url('../../images/bg-images/13.jpg');
	/*background-size: 100% 100%;
	background-repeat: no-repeat;*/
}

.view-table{
	/*background-color: #45494A;*/
	background-color: rgba(69, 73, 74, 0.7);
	color: white;
	border-top-right-radius: 10px;
	border-bottom-left-radius: 10px; 
	border-bottom-right-radius: 10px;
}

.tab{
	position: relative;
	top: 20px;
	width: 100px;
	height: 20px;
	background-color: rgba(69, 73, 74, 1);
	color: white;
	border-top-right-radius: 10px;
	border-top-left-radius: 10px; 
	text-align: center;
}

.tab:hover{
	background-color: #1e282c;
	border-bottom: 2px solid #00c0ef;
}

#scenesTab{
	top: 0px;
	position: relative;
	left: 100px;
}

.view-table > tr, td, th{
	padding: 20px;	
	padding-top: 5px;
}

.view-table th{
	padding-top: 20px;
}

#users th{
	padding-top: 50px;
}
#userSearch{
	padding-top: 20px;
}


.view-table, tr{
	font-size: 20px;
}

.table-pic{
	border-radius: 5px;
	z-index: 10000;
}

img.table-pic:hover{
	box-shadow: 4px 4px 10px black;
}

#profilePic{
	border-radius: 10px;	
}

#prof{
	width: 300px;
}

hr{
	color: #B8C7CE;
}

.btn-flat{
background-color: #45494A;
}

#welcome{
	width: 400px;
	height: 60px;
	text-align: center;
	background-color: rgba(69, 73, 74, 0.7);
	color: lightgreen;
	padding: 5px;
	border-top-right-radius: 10px; 
	border-bottom-right-radius: 10px;	
}
#welcome > h1{
	position: relative;
	top: -15px;
}

.desc{
	font-size: 16px
}

#row-id{
	width:1200px;
	padding-top: 20px;
	margin: auto;	
	color: white;
	background-color: rgba(69, 73, 74, 0.7);
	border-top-right-radius: 10px;
	border-top-left-radius: 10px; 
	border-bottom-left-radius: 10px; 
	border-bottom-right-radius: 10px;		
}

#description{
	width:1200px;
	margin: auto;
	background-color: rgba(245, 245, 220, 0.8);
	padding: 10px;
	border-top-right-radius: 10px;
	border-top-left-radius: 10px; 
	border-bottom-left-radius: 10px; 
	border-bottom-right-radius: 10px;	
}

#selected_user{
	width: 1500px;
}

#selectedUserTable > tr > td{
	width: 1500px;
}

#selectedUserTable > tr > td{
	width: 600px;
}

.selectedUserDetails{
	padding-left: 20px;
	padding-top: 20px;
	color: lightblue;
}

#selectedUserEmail, #selectedUserfirstName, #selectedUserLastName{
	position: relative;
	left: 240px;
	top: -130px;
}

#selectedUserfirstName{
	left: 220px;
	top: -130px;
}

#selectedUserLastName{
	left: 108px;
	top: -90px;
}

#selectedUserEmail{
	left: -2px;
	top: -50px;
}

.selectedUserUsername{
	position: relative;
	top: 10px;
	font-size: 1.8em;'
}
#selectedUserImage{
	border-radius: 10px;
}

#userProfileTable{
	position: relative;
	left: 315px;
	top: -330px;
}

#profileTable, #deleteButton{
	position: relative;
	top: -130px;
}

#profileUser{
	width: 1500px;
}

.profile-align{
	position: relative;
	left: 20px;
}

#profilePagePic{
	position: relative;
	top: 20px;
	border-radius: 10px;
}

#profile-pic-btn{
	position: relative;
	top: 20px;
}