<center><h1>simuL8r Demos</h1></center><br>
<div id='description'>
	<p class='desc'><strong>What is it? - </strong> simuL8r is self explanatory once you see it, its basically a physics engine that lets users create fun and interactive scenes. </p>
	<p class='desc'><strong>This page - </strong> The purpose of this page is to act as a demonstration for the kind of things that can be made with this app, 	
			the full app itself will be released in the next couple of months when the user interface is completed.</p>
	<p class='desc'><strong>Instructions - </strong> simply click on any of the thumbnails below to access a demo, and follow the instructions when you get there (its very simple, just hit the space bar)</p>
	<p>To view the code please visit <a href='https://github.com/Kingsley1331/simuL8r/tree/demos'>GitHub</a></p>
</div>
<br>
<div ng-cloak class="row" id='row-id'>
  <div class="col-sm-2" ng-repeat="scene in demoScenes">
    <div class="thumbnail" ng-click='getSelectedScene(scene._id)'>
      <span class='scene-name'>{{scene.name}}</span>
      <img ng-src='{{scene.imageUrl}}' alt="scene thumbnai">	  
    </div>	
  </div>
</div>
