<center><h1>simuL8r Demos</h1></center><br>
<div id='description'>
	<p class='desc'><strong>What is it? - </strong> simuL8r is self explanatory once you see the demos, its basically a physics engine that lets users create fun and interactive scenes, <br>
	eventually when the app is complete it be should be possible to use it to make simple games.</p>
	<p class='desc'><strong>This page - </strong> This project is still at an early stage, and many of the features have yet to be built but the purpose of this page<br>
	 is to act as a demonstration for the kind of things that can be already made with this app.</p>
	<p class='desc'><strong>Instructions - </strong> simply click on any of the thumbnails below to access a demo, and follow the instructions when you get there (its very simple, just click the play button)</p>
	<p class='desc'><strong>Create your own scenes - </strong> select the <span style='font-weight: bold; color: #00008B;'>"make a scene!"</span> tab on the left hand navigation, and when you get to the canvas hover over the icons to learn how they work.</p>
	<p>To view the code or to read more about this project please visit <a href='https://github.com/Kingsley1331/simuL8r/'>GitHub</a></p>
</div>
<br>
<div ng-cloak class="row" id='row-id'>
  <div class="col-sm-2" ng-repeat="scene in demoScenes">
    <div class="thumbnail" style='background-color: #404040; border: none;'ng-click='getSelectedScene(scene._id)'>
      <span class='scene-name'>{{scene.name}}</span>
      <img ng-src='{{scene.imageUrl}}' alt="scene thumbnai">	  
    </div>	
  </div>
</div>
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-17846569-2', 'auto');
  ga('send', 'pageview');
</script>
