<div id='welcome'><h1>Welcome {{currentUser.local.username || currentUser.google.name}}!</h1></div>
<!--<button type="button" class="btn btn-primary" ng-click='showAllUsers(true)'><span ng-show='!showUsers'>show users</span><span ng-show='showUsers'>hide users</span></button><br></br>-->
<table id="users" class='view-table'  ng-show='showUsers'>
	<div ng-click='showAllUsers(true)' class='tab' id='usersTab'>users</div>
	<div ng-click='showAllScenes()' class='tab' id='scenesTab'>scenes</div>	  
	<tr>
		<th>profile pic</th>
		<th>username</th>
		<th>email</th>
		<th colspan='3'>
            <div class="input-group">
              <input ng-model='searchQuery' type="text" name="q" class="form-control" placeholder="Search...">
              <span class="input-group-btn">
                <button type="submit" name="search" id="search-btn" class="btn btn-flat"><i class="fa fa-search"></i></button>
              </span>
            </div>			
		</th>		
	</tr>
	<tr ng-repeat="user in users | filter:searchQuery" ng-if='user.google.name != currentUser.google.name || user.local.username != currentUser.local.username'>
		<td><img class='table-pic' img width='75' ng-src='{{user.local.profilePic}}'/></td>		
		<td>{{user.google.name || user.local.username}}</td>
		<td>{{user.google.email || user.local.email}}</td>
		<td class='button'><button type="button" class="btn btn-info" ng-click='selectUser(user._id)'>select</button></td>
		<td class='button'><button type="button" class="btn btn-success">update</button></td>
		<td class='button'><button type="button" class="btn btn-danger" ng-click="remove(user._id)">delete</button></td>
	</tr>
</table>

<!--<button id="scenesButton" type="button" class="btn btn-primary" ng-click='showAllScenes()'><span ng-show='!showScenes'>show scenes</span><span ng-show='showScenes'>hide scenes</span></button><br></br>-->
<table id="scenes" class='view-table' style="width:25%" ng-show='showScenes'>
	<tr>
		<th colspan='3'>
			<div class="input-group" id='userSearch'>
			  <input ng-model='searchScene' type="text" name="q" class="form-control" placeholder="Search...">
			  <span class="input-group-btn">
				<button type="submit" name="search" id="search-btn" class="btn btn-flat"><i class="fa fa-search"></i></button>
			  </span>
			</div>			
		</th>	
	</tr>
	<tr>
		<th>username</th>
		<th>name</th>	
		<th>thumbnail</th>		
	</tr>
	<tr ng-repeat="scene in scenes | filter:{name:searchScene}">
		<td>{{userNames[scene.userID]}}</td>
		<td>{{scene.name}}</td>		
		<td ng-click='getSelectedScene(scene._id)' ><img class='table-pic' width='75' ng-src='{{scene.imageUrl}}'/></td>	
	</tr>
</table>

<div class='view-table' id='selected_user' ng-show='showUser'>
	<span class='selectedUserDetails selectedUserUsername'>{{selectedUser[0].local.username || selectedUser[0].google.name}}'s profile</span><br><br>
	<span class='selectedUserDetails'><img id='selectedUserImage' width='200' ng-src='{{selectedUser[0].local.profilePic}}'/></span><br>
	<span id='selectedUserfirstName' class='selectedUserDetails'>first name: {{selectedUser[0].local.lastname}}</span>
	<span id='selectedUserLastName' class='selectedUserDetails'>last name: {{selectedUser[0].local.firstname}}</span>
	<span id='selectedUserEmail' class='selectedUserDetails'>Email: {{selectedUser[0].local.email}}</span>
	<table id="selectedUserTable" width='40%' ng-show='showSelectedUserScenes'>
		<tr>
			<th>name</th>
			<th>thumbnail</th>
			<th width='170'>date created</th>
			<th width='170'>last modified</th>
		</tr>
		<tr ng-repeat="scene in selectedUserScenes">
			<td>{{scene.name}}</td>
			<td ng-click='getSelectedScene(scene._id)'><img class='table-pic' width='100' ng-src='{{scene.imageUrl}}'/></td>
			<th></th>
			<th></th>
		</tr>
	</table>
</div>
