<h1>Welcome {{currentUser.local.username || currentUser.google.name}} <img id='profilePic' width='150' ng-src='{{currentUser.local.profilePic}}'/></h1>
<button type="button" class="btn btn-primary" ng-click='showAllUsers(true)'><span ng-show='!showUsers'>show users</span><span ng-show='showUsers'>hide users</span></button><br></br>
<table id="users" style="width:25%" ng-show='showUsers'>
	<tr>
		<th>username</th>
		<th>email</th>
		<th>profile pic</th>
		<th>select</th>
		<th>update</th>
		<th>delete</th>
	</tr>
	<tr ng-repeat="user in users" ng-if='user.google.name != currentUser.google.name || user.local.username != currentUser.local.username'>
		<td>{{user.google.name || user.local.username}}</td>
		<td>{{user.google.email || user.local.email}}</td>
		<td><img width='75' ng-src='{{user.local.profilePic}}'/></td>
		<td><button type="button" class="btn btn-info" ng-click='selectUser(user._id)'>select</button></td>
		<td><button type="button" class="btn btn-success">update</button></td>
		<td><button type="button" class="btn btn-danger" ng-click="remove(user._id)">delete</button></td>
	</tr>
</table>

<button id="scenesButton" type="button" class="btn btn-primary" ng-click='showAllScenes()'><span ng-show='!showScenes'>show scenes</span><span ng-show='showScenes'>hide scenes</span></button><br></br>
<table id="scenes" style="width:25%" ng-show='showScenes'>
	<tr>
		<th>username</th>
		<th>name</th>
		<th>thumbnail</th>
		<th>select</th>
	</tr>
	<tr ng-repeat="scene in scenes">
		<td>{{userNames[scene.userID]}}</td>
		<td>{{}}</td>
		<td ng-click='getSelectedScene(scene._id)' ><img width='75' ng-src='images/thumbnails/{{scene._id}}.png'/></td>
		<td><button type="button" class="btn btn-info" ng-click=''>select</button></td>
	</tr>
</table>

<div id='selected_user' ng-show='showUser'>
	<span style='font-weight:bold; font-size: 1.8em;'>{{selectedUser[0].local.username || selectedUser[0].google.name}}</span><br>
	<img width='200' ng-src='{{selectedUser[0].local.profilePic}}'/><br>
	Email: {{selectedUser[0].local.email}}
<button id="selectedUserScenesButton" type="button" class="btn btn-primary" ng-click="getSelectUserScenes(selectedUser[0]._id)"><span ng-show='!showSelectedUserScenes'>see {{selectedUser[0].local.username || selectedUser[0].google.name}}'s scenes</span><span ng-show='showSelectedUserScenes'>hide scenes</span></button><br></br>
<table id="selectedUserTable" style="width:25%" ng-show='showSelectedUserScenes'>
	<tr>
		<th>name</th>
		<th>thumbnail</th>
	</tr>
	<tr ng-repeat="scene in selectedUserScenes">
		<td>{{scene.name}}</td>
		<td ng-click='getSelectedScene(scene._id)'><img width='75' ng-src='images/thumbnails/{{scene._id}}.png'/></td>
	</tr>
</table>
</div>
