<!--<div class="account-wall">
	<div class='container'>
		<div class='row'>
			<div class='col-sm-6 col-md-4 col-md-offset-4'>
				<form class='form-signin' enctype="multipart/form-data">
					<input type='text' name='username' class='form-control' placeholder='Username' autofocus ng-model='user.username'/>
					<input type='password' name='password' class='form-control nomargin' placeholder='Password' ng-model='user.password'/><br>
					<button class='btn btn-lg btn-primary btn-block' type='submit' ng-click='login(user)'> Login </button>
				</form><br>
				<a href='/auth/facebook' class = 'btn btn-block btn-social btn-facebook' style="padding-left:20px">
					<i class = 'fa fa-facebook' style='position: relative'>
						<span style="position: relative; left:35px">Sign in with Facebook</span>
					</i>
				</a>
				<br>
				<a href='/auth/google' class = 'btn btn-block btn-social btn-google' style="padding-left:20px">
					<i class = 'fa fa-google-plus' style='position: relative'>
						<span style="position: relative; left:25px">Sign in with Google</span>
					</i>
				</a>
				
			</div>
		</div>
	</div>
</div>-->

<head>
    <title>Login</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link type="text/css" rel="stylesheet" href="css/font-awesome/css/font-awesome.min.css">
    <link type="text/css" rel="stylesheet" href="css/bootstrap.css">
    <link type="text/css" rel="stylesheet" href="css/main_form.css">	
    <link type="text/css" rel="stylesheet" href="css/pace.css">	
	
<style>
	.col-lg-4 {
		 float: none;
		 margin-left: auto;
		 margin-right: auto;
	}
</style>	
	
	
</head>
<body>
	<div class="col-lg-4">									
		<div class="panel panel-green">
			<div class="panel-heading">
				Login Form</div>
			<div class="panel-body pan">
				<form enctype="multipart/form-data" class="form-horizontal">
					<div class="form-body pal">
						<div class="form-group">
							<label for="inputName" class="col-md-3 control-label">
								Name</label>
							<div class="col-md-9">
								<div class="input-icon right">
									<i class="fa fa-user"></i>
									<input id="inputName" type="text"  name='username' placeholder='Username' autofocus ng-model='user.username' class="form-control" /></div>
							</div>
						</div>
						<div class="form-group">
							<label for="inputPassword" class="col-md-3 control-label">
								Password</label>
							<div class="col-md-9">
								<div class="input-icon right">
									<i class="fa fa-lock"></i>
									<input id="inputPassword" type='password' name='password' placeholder='Password' ng-model='user.password' class="form-control" /></div>
								<!--<span class="help-block mbn"><a href="#"><small>Forgot password?</small> </a></span>-->
							</div>
						</div>
						<!--<div class="form-group mbn">
							<div class="col-md-offset-3 col-md-6">
								<div class="checkbox">
									<label>
										<input tabindex="5" type="checkbox" />&nbsp; Keep me logged in</label></div>
							</div>
						</div>-->
					</div>
					<div class="form-actions pal">
						<div class="form-group mbn">
							<div class="col-md-offset-3 col-md-6">
								<a href="#/signup" class="btn btn-primary">Register</a>&nbsp;&nbsp;
								<button type="submit" class="btn btn-primary" ng-click='login(user)'>Login</button>
							</div>
						</div>
					</div>			
					<!--<a href='/auth/google' class = 'btn btn-block btn-social btn-google' style="padding-left:20px">
						<i class = 'fa fa-google-plus' style='position: relative'>
							<span style="position: relative; left:25px">Sign in with Google</span>
						</i>
					</a>-->
				</form>
			</div>
		</div>
	</div>
	<script src="js/lib/PACE/pace.min.js"></script>
</body>