<div class="account-wall">
	<div class='container'>
		<div class='row'>
			<div class='col-sm-6 col-md-4 col-md-offset-4'>
				<!--<form class='form-signin' action='/login' method='POST'>-->
				<form class='form-signin' enctype="multipart/form-data">
					<input type='text' name='username' class='form-control' placeholder='Username' autofocus ng-model='user.username'/>
					<input type='password' name='password' class='form-control nomargin' placeholder='Password' ng-model='user.password'/>
					<button class='btn btn-lg btn-primary btn-block' type='submit' ng-click='login(user)'> Login </button>
				</form>
			</div>
		</div>
	</div>
</div>