<div class='view-table' id='profileUser'>
	<span style='font-weight:bold; font-size: 1.8em;'>{{currentUser.local.username || currentUser.google.name}}</span><br>
	<img width='300' ng-src='{{currentUser.local.profilePic}}'id='profilePagePic'/><br>
	Email: {{currentUser.local.email}} <br><br>
	<button id='deleteButton' type="button" class="btn btn-danger" ng-click="remove(currentUser._id)">delete account</button>
	<table id="selectedUserTable" style="width:25%" ng-show='showUserScenes'>
		<tr>
			<th>name</th>
			<th>thumbnail</th>
		</tr>
		<tr ng-repeat="scene in userScenes">
			<td>{{scene.name}}</td>
			<td ng-click='getSelectedScene(scene._id)'><img width='75' ng-src='{{scene.imageUrl}}'/></td>
		</tr>
	</table>
</div>
