<div id='profileUser'>
	<span style='font-weight:bold; font-size: 1.8em;'>{{currentUser.local.username || currentUser.google.name}}</span><br>
	<img width='300' ng-src='{{currentUser.local.profilePic}}'id='profilePagePic'/><br>
	Email: {{currentUser.local.email}}
<button id="selectedUserScenesButton" type="button" class="btn btn-primary" ng-click="getUserScenes(currentUser._id)"><span ng-show='!showUserScenes'>show scenes</span><span ng-show='showUserScenes'>hide scenes</span></button><br></br>
<table id="selectedUserTable" style="width:25%" ng-show='showUserScenes'>
	<tr>
		<th>name</th>
		<th>thumbnail</th>
	</tr>
	<tr ng-repeat="scene in userScenes">
		<td>{{scene.name}}</td>
		<td ng-click='getSelectedScene(scene._id)'><img width='75' ng-src='images/thumbnails/{{scene._id}}.png'/></td>
	</tr>
</table>
</div>
