<div ng-cloak class='view-table' id='profileUser'>
	<div id='profileUserWrapper'>
		<div id='profilename' class='selectedUserDetails selectedUserUsername'>{{currentUser.local.username || currentUser.google.name}}</div><br>
		<img class='profile-align' ng-src='{{currentUser.local.profilePic}}'id='profilePagePic'/><br><br>
		<a href="#/edit" id='profile-pic-btn' class="btn btn-primary">edit account</a>
		<!--<a href="#/login" class="btn btn-primary">login</a>-->
		<table id='userProfileTable'>
			<tr style='border-bottom: none'>
				<td>
					<span class='selectedUserDetails'>username: <span>
				</td>
				<td>
					{{currentUser.local.username}}
				</td>
			</tr style='border-bottom: none'>
			<!--<tr style='border-bottom: none'>
				<td>
					<span class='selectedUserDetails'>name:<span>
				</td>
				<td>
					 {{currentUser.local.name}}
				</td>
			</tr>
			<tr style='border-bottom: none'>
				<td>
					<span class='selectedUserDetails'>lastname:<span>
				</td>
				<td>
					 {{currentUser.local.lastname}}
				</td>
			</tr>-->
			<tr style='border-bottom: none'>
				<td>
					<span class='selectedUserDetails'>Email:<span>
				</td>				
				<td>
					 {{currentUser.local.email}}
				</td>
			</tr>
		</table>
		<button id='deleteButton' type="button" class="btn btn-danger profile-align" ng-click="remove(currentUser._id)">delete account</button>
	</div>	

	<table id='profileTable' ng-show='showUserScenes'>
		<tr>
			<th>name</th>
			<th>thumbnail</th>
			<th width='170'>date created</th>
			<th width='170'>last modified</th>
		</tr>
		<tr ng-repeat="scene in currentPage | limitTo:pageSize">
			<td>{{scene.name}}</td>
			<td ng-click='getSelectedScene(scene._id)'><img class='table-pic' width='75' ng-src='{{scene.imageUrl}}'/></td>
			<th></th>
			<th></th>
		</tr>
		<tr ng-show='showPageNav' style='border-bottom: none'>
			<td colspan='5'>
				<center>
					<div class="container pagesNav">  
					  <ul class="pagination">
						  <li ng-click="pageTurner(false);" id='prev'><a href="#/profile">«</a></li>
						  <li ng-repeat='page in pagesArray' ng-click='paginator(pagesArray[page] + 1);' id="{{pagesArray[page] + 1}}" class='li_user' ng-class="{{(pagesArray[page] + 1 == 1) ? 'active' : 'inactive'}}"><a href="#/profile">{{pagesArray[page] + 1}}</a></li>
						  <li ng-click='pageTurner(true);' id='next'><a href="#/profile">»</a></li>
					  </ul>
					</div>
				</center>
			</td>
		</tr>		
	</table>
	<script>
	  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
	  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
	  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
	  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

	  ga('create', 'UA-17846569-2', 'auto');
	  ga('send', 'pageview');
	</script>	
</div>
