<div ng-cloak id = 'bar'>
<span id='sceneName'> scene - {{sceneName || 'untitled'}}</span>
<nav ng-cloak id='navigation-bar' class="navbar navbar-inverse" onclick='shapeSelector(this.id)'>
  <div class="container-fluid">
    <ul class="nav navbar-nav">
	  <li data-toggle="tooltip" data-placement="bottom" title="" class = 'shapes' id = 'physics' onmouseover = "hover(Physics);" onmouseout = "leave(physics, Physics);" onclick = " if(physics){shapeSelector(this.id);}else{shapeSelector(this.id); physics = true;} gradient(Physics);" ng-click='play = !play; checkPlay();'><img class = 'icons' ng-src='{{playIcon}}'></li> 	  
      <li data-toggle="tooltip" data-placement="bottom" title="" ng-click='create();' class = 'shapes' id = 'save' onmouseover = "hover(save);" onmouseout = "leave(saving, save);" onclick = "if(saving){shapeSelector(this.id);}else{shapeSelector(this.id);};"><img  class = 'icons' src = 'https://s3.amazonaws.com/simuL8rBucket/images/icons/save.png'></img></li> 
      <li data-toggle="tooltip" data-placement="bottom" title="" class = 'shapes' id = 'erase' onmouseover = "hover(erase);" onmouseout = "leave(deletion, erase);" onclick = "if(deletion){shapeSelector(this.id);}else{shapeSelector(this.id); deletion = true;} gradient(erase);"><img class = 'icons' src = 'https://s3.amazonaws.com/simuL8rBucket/images/icons/erase.png'></img></li>
	  <li data-toggle="tooltip" data-placement="bottom" title="" class = 'shapes' id = 'circle' onmouseover = "hover(circle);" onmouseout = "leave(circles, circle);" onclick = " if(circles){shapeSelector(this.id);}else{shapeSelector(this.id);  circles = true; shapeSelection.shapes.circle[0] = true;} gradient(circle);"><img class = 'icons' src = 'https://s3.amazonaws.com/simuL8rBucket/images/icons/circle.png'></img></li> 
      <li data-toggle="tooltip" data-placement="bottom" title="" class = 'shapes' id = 'square' onmouseover = "hover(square);" onmouseout = "leave(squares, square);" onclick = "if(squares){shapeSelector(this.id);}else{shapeSelector(this.id); squares = true; shapeSelection.shapes.square[0] = true;} gradient(square);"><img class = 'icons' src = 'https://s3.amazonaws.com/simuL8rBucket/images/icons/square.png'></li>
      <li data-toggle="tooltip" data-placement="bottom" title="" class = 'shapes' id = 'triangle' onmouseover = "hover(triangle);" onmouseout = "leave(triangles, triangle);" onclick = "if(triangles){shapeSelector(this.id);}else{shapeSelector(this.id); triangles = true; shapeSelection.shapes.triangle[0] = true;} gradient(triangle);"><img class = 'icons' src = 'https://s3.amazonaws.com/simuL8rBucket/images/icons/triangle.png'></li> 
      <li data-toggle="tooltip" data-placement="bottom" title="" class = 'shapes' id = 'customShape' onmouseover = "hover(customShape);" onmouseout = "leave(shapes, customShape);" onclick = "if(shapes){shapeSelector(this.id);}else{shapeSelector(this.id); shapes = true;} gradient(customShape);"><img class = 'icons' src = 'https://s3.amazonaws.com/simuL8rBucket/images/icons/custom.png'></img></li> 
      <li data-toggle="tooltip" data-placement="bottom" title="" class = 'shapes' id = 'Re-Size' onmouseover = "hover(ReSize);" onmouseout = "leave(reSize, ReSize);" onclick = "if(reSize){shapeSelector(this.id);}else{shapeSelector(this.id); reSize = true;} gradient(ReSize);"><img class = 'icons' src = 'https://s3.amazonaws.com/simuL8rBucket/images/icons/resize.png'></li>
      <li data-toggle="tooltip" data-placement="bottom" title="" class = 'shapes' id = 'Re-Shape' onmouseover = "hover(ReShape);" onmouseout = "leave(reShape, ReShape);" onclick = "if(reShape){ shapeSelector(this.id);}else{shapeSelector(this.id); reShape = true;} gradient(ReShape);"><img id = 'ReShaper' class = 'icons' src = 'https://s3.amazonaws.com/simuL8rBucket/images/icons/reshape.png'></img></li> 
      <li data-toggle="tooltip" data-placement="bottom" title="" class = 'shapes' id = 'Rotate' onmouseover = "hover(Rotate);" onmouseout = "leave(rotate, Rotate);" onclick = "if(rotate){shapeSelector(this.id);}else{shapeSelector(this.id); rotateListStyle(); rotate = true;} gradient(Rotate); resetRotate();"><img class = 'icons' src = 'https://s3.amazonaws.com/simuL8rBucket/images/icons/rotate.png'></img>				
			<div class="dropdown">
			  <ul id='rotateList' class="dropdown-menu" aria-labelledby="dropdownMenu1">
				<li id='rotate90' class='item'>Rotate 90<span style='vertical-align:super; font-size:0.5em'>O</span></li>
				<li id='rotate180' class='item'>Rotate 180<span style='vertical-align:super; font-size:0.5em'>O</span></li>
				<li id='reverseX' class='item'>mirror</li>
				<li id='reverseY' class='item'>upside down</li>
			  </ul>
			</div>
	  </li> 
     <li data-toggle="tooltip" data-placement="bottom" title="" class = 'shapes' id = 'ChangeColour' ng-click='showColourPallet();' onmouseover = "hover(ChangeColour);" onmouseout = "leave(colourChange, ChangeColour);" onclick = " if(colourChange){shapeSelector(this.id); /*PickColor.style.visibility = 'invisible';*/}else{shapeSelector(this.id); colourChange = true; /*PickColor.style.visibility = 'visible';*/} gradient(ChangeColour); colours.lightblue[1] = true;"><img class = 'icons' src = 'https://s3.amazonaws.com/simuL8rBucket/images/icons/colour-wheel.png'></img>

	 </li>
	 
	 <li data-toggle="tooltip" data-placement="bottom" title="" class = 'shapes' id = 'pencil_id' onmouseover = "hover(pencil_id); "onmouseout = "leave(pencils, pencil_id);" onclick = " if(pencils){shapeSelector(this.id);}else{shapeSelector(this.id); pencilStyle(); pencils = true; shapeSelection.shapes.pencil[0] = true;} gradient(pencil_id); pencilCursor();"><img class = 'icons' src = 'https://s3.amazonaws.com/simuL8rBucket/images/icons/pencil.png'></img>
		<!--ul id = 'pencilList'>
			<li id='shapes' class='item'>Shapes</li>
			<li id='strokes' class='item'>Strokes</li>
		</ul>-->
	 </li>    
	 <li data-toggle="tooltip" data-placement="bottom" title="" class = 'shapes' id = 'copy' onmouseover = "hover(Copy);" onmouseout = "leave(copy, Copy);" onclick = "if(copy){shapeSelector(this.id);}else{shapeSelector(this.id); copy = true;} gradient(Copy);"><img class = 'icons' src = 'https://s3.amazonaws.com/simuL8rBucket/images/icons/copy.png'></img></li>  
   <li><button type='button' class='btn btn-info' id = 'showScenes' ng-click='toggleSceneTable(); reset(); getAll(); getAll_i();'> {{scenesVisibility}} </button></li>
   <li><button type='button' class='btn btn-info' id = 'showOptions'> show settings </button></li>
   <li><button type='button' class='btn btn-info' id = 'refresh' ng-click='refresh(currentScene)'> refresh scene</button></li>
   </div>

   </ul>
  </div>
</nav>
<script>
	$(document).ready(function(){
		$('#save').tooltip({title: 'click here to save the scene', delay: 500});
		$('#erase').tooltip({title: 'click here and then on any shape to delete it', delay: 500});
		$('#circle').tooltip({title: 'click here and then on the canvas to make a circle', delay: 500});
		$('#square').tooltip({title: 'click here and then on the canvas to make a square', delay: 500});
		$('#triangle').tooltip({title: 'click here and then on the canvas to make a triangle', delay: 500});
		$('#customShape').tooltip({title: 'click here and then on the canvas to start drawing a shape with straight lines. click on the canvas to make each line segement. A shape is completed by clicking on the open end of the first line segment', delay: 500});
		$('#Re-Size').tooltip({title: 'click here and then on any shape to resize it', delay: 500});
		$('#Re-Shape').tooltip({title: 'click here and the drag drop the corners/vertices of a shape to reshape it', delay: 500});
		$('#Rotate').tooltip({title: 'click here and then on any shape. Use the horizontal slider to rotate', delay: 500});
		$('#ChangeColour').tooltip({title: 'click here, select a colour and then on a shape to apply the colour', delay: 500});
		$('#pencil_id').tooltip({title: 'click here and then use the left mouse button to draw on the canvas', delay: 500});
		$('#copy').tooltip({title: 'click here and then on any shape to clone it', delay: 500});
		$('#physics').tooltip({title: 'click to play or pause the scene', delay: 500});		
	});
</script>
<div ng-click="showRemote = true; showLocal = false; setTabs('remote');" class='tab' id='remote' ng-show='showSceneTable && loggedin'>remote</div>
<div ng-click="showLocal = true; showRemote = false; setTabs('local');" class='tab' id='local' ng-show='showSceneTable && loggedin'>local</div>	  

<table ng-cloak class='view-table' id='sceneTable' ng-show='showSceneTable && showRemote'>
	<tr>
		<td colspan='2'>
            <div class="input-group" id='userSearch'>
              <input ng-model='searchQuery' type="text" name="q" class="form-control" placeholder="Search...">
              <span class="input-group-btn">
                <button type="submit" name="search" id="search-btn" class="btn btn-flat"><i class="fa fa-search"></i></button>
              </span>
            </div>			
		</td>
		<td><button type="button" class="btn btn-success btn-xs" ng-click='newScene();'>new scene</button></td>
		<td><button type="button" class="btn btn-danger btn-xs" ng-click='removeAllScenes();'>delete all</button></td>
		<!--<td><button type="button" class="btn btn-success" id='browserSave' class='browser'>save</button></td>
		<td><button type="button" class="btn btn-success" id='webData' class='browser'>display</button></td>
		<td><button type="button" class="btn btn-success" id='removeAllScenes' class='browser'>remove all</button></td>-->
		<td colspan='4'><button type="button" class="btn btn-success btn-xs" ng-click='create();'>save</td>
	</tr>
	<tr ng-repeat='scene in currentPage  | filter:searchQuery | limitTo:pageSize'>
	<!--<tr ng-repeat='scene in IDBscenes | limitTo:pageSize'>-->
		<td>{{scene.name}}</td>
		<td ng-click='retrieve(scene._id);'><img class='table-pic' ng-src='{{scene.imageUrl}}'/></td>
		<td><button type="button" class="btn btn-info btn-xs" ng-click='updateScene(scene._id);'>update</button></td>
		<td><button type="button" class="btn btn-danger btn-xs" ng-click='remove(scene._id);'>delete</button></td>
	</tr>
	<tr ng-show='showPageNav'>
		<td colspan='5'>
			<center>
				<div class="container">  
				  <ul class="pagination">
					  <li ng-click="pageTurner(false);" id='prev'><a href="#/simuL8r">«</a></li>
					  <li ng-repeat='page in pagesArray' ng-click='paginator(pagesArray[page] + 1);' id="{{pagesArray[page] + 1}}" class='li_user' ng-class="{{(pagesArray[page] + 1 == 1) ? 'active' : 'inactive'}}"><a href="#/simuL8r">{{pagesArray[page] + 1}}</a></li>
					  <li ng-click='pageTurner(true);' id='next'><a href="#/simuL8r">»</a></li>
				  </ul>
				</div>
			</center>
		</td>
	</tr>	
</table>

<table ng-cloak class='view-table' id='indexedDBTable' ng-show='showSceneTable && showLocal'>
	<tr>
		<td colspan='2'>
            <div class="input-group" id='userSearch'>
              <input ng-model='searchQuery' type="text" name="q" class="form-control" placeholder="Search...">
              <span class="input-group-btn">
                <button type="submit" name="search" id="search-btn" class="btn btn-flat"><i class="fa fa-search"></i></button>
              </span>
            </div>			
		</td>
		<td><button ng-click='IDB_removeAll();' type="button" class="btn btn-danger btn-xs" id='removeAllScenes' class='browser'>remove all</button></td>
		<td colspan='4'><button type="button" class="btn btn-success btn-xs" ng-click='addData();'>save</button></td>
	</tr>
	<tr ng-repeat='scene in currentPage_i  | filter:searchQuery | limitTo:pageSize_i'>
	<!--<tr ng-repeat='scene in IDBscenes'>scenes-->
		<td>{{scene.name}}</td>
		<td ng-click='retrieveIDBscene(scene);'><img class='table-pic' ng-src='{{scene.imgURL}}'/></td>
		<td><button type="button" class="btn btn-info btn-xs" ng-click='editRecord(scene.userID);'>update</button></td>
		<td><button type="button" class="btn btn-danger btn-xs" ng-click='deleteData(scene.userID);'>delete</button></td>
	</tr>
	<tr ng-show='showPageNav_i'>
		<td colspan='5'>
			<center>
				<div class="container">  
				  <ul class="pagination">
					  <li ng-click="pageTurner_i(false);" id='prev_i'><a href="#/simuL8r">«</a></li>
					  <li ng-repeat='page in pagesArray_i' ng-click='paginator_i(pagesArray_i[page] + 1);' id="{{pagesArray_i[page] + 1 + '_i'}}" class='li_IDBscene' ng-class="{{(pagesArray_i[page] + 1 == 1) ? 'active' : 'inactive'}}"><a href="#/simuL8r">{{pagesArray_i[page] + 1}}</a></li>
					  <li ng-click='pageTurner_i(true);' id='next_i'><a href="#/simuL8r">»</a></li>
				  </ul>
				</div>
			</center>
		</td>
	</tr>	
</table>




<canvas id = 'canvas' onclick = 'shapeSelect()'></canvas>




<img id="canvasImg" alt = "Right click to save me!">




</div>
<div id='bp'>
		<h3>Display Panel</h3>
		Frame Rate <input type='checkbox' id='frameRate' onchange='reset=false; selectAll=false; displayData();'/><br><br>	
		Normal Vector <input type='checkbox' id='normal' onchange='reset=false; selectAll=false; displayData();'/><br><br>
		Repulsion Vector <br>
						<div id='repulsion'>
							A <input type='checkbox' id='repulsionA' onchange='reset=false; selectAll=false; displayData();'/><br>
							B <input type='checkbox' id='repulsionB' onchange='reset=false; selectAll=false; displayData();'/>
						</div>
		Collision Point Relative Velocity <input type='checkbox' id='colPointRelVel' onchange='reset=false; selectAll=false; displayData();'/><br><br>
		Collision Point <input type='checkbox' id='collisionPoint' onchange='reset=false; selectAll=false; displayData();'/><br><br>
		Colliding Side <input type='checkbox' id='collidingSide' onchange='reset=false; selectAll=false; displayData();'/><br><br> 
		Collision Shadow <input type='checkbox' id='collisionShadow' onchange='reset=false; selectAll=false; displayData();'/><br><br>
		Bounding Rect <input type='checkbox' id='boundingRect' onchange='reset=false; selectAll=false; displayData();'/><br><br>
		Pre-collision <input type='checkbox' id='preCollision' onchange='reset=false; selectAll=false; displayData();'/><br><br>
		Centroid <input type='checkbox' id='centroid' onchange='reset=false; selectAll=false; displayData();'/><br><br>
		Shadow Centroid <input type='checkbox' id='shadowCentroid' onchange='reset=false; selectAll=false; displayData();'/><br><br>
		<button id='bpreset' onclick='reset=true; selectAll=false; displayData();'>reset</button>
		<button id='bpApply' onclick='selectAll=true; reset=false; displayData();'>select all</button>
</div>

<div id='settings'>
	<center><strong><h1>Settings</h1></strong></center>
	<h3>Global</h3>
	<!--gravity<sub>x</sub>&nbsp;<input id='gx' type='text'/><br>
	gravity<sub>y</sub>&nbsp;<input id='gy' type='text'/><br></br>-->
	frame rate&nbsp;<input id='frame_rate' type='text'/><br><br>
	<h3>Selected Object</h3>
	velocity<sub>x</sub>&nbsp;<input id='vx' type='text'/><br>
	velocity<sub>y</sub>&nbsp;<input id='vy' type='text'/><br>
	angular velocity&nbsp;<input id='v_angular' type='text'/><br>
	fix &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <input type='checkbox' id='fix' /><br><br>
	<button id='applySettings'>apply</button><button type='button' class='btn btn-info' id = 'hideOptions'> hide settings </button>
</div>
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-17846569-2', 'auto');
  ga('send', 'pageview');
</script>